<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>创作曲谱</title>
    <link rel="stylesheet" href="/static/CSS/base-style.css">
    <link rel="stylesheet" href="/static/CSS/piano.css">
    <link rel="stylesheet" href="/static/CSS/str-editor.css">

</head>

<body>
    <header id="header">
        <a href="/Myapp_runweb/home"><span class="home-label">听音撰谱主页</span></a>
        <div class="lable-contaner clearfix">
            <a href="/Myapp_runweb/metronome">
                <li class="label lab1 ">网页节拍器</li>
            </a>
            <a href="/Myapp_runweb/wavescope">
                <li class="label lab2">在线音波图展示</li>
            </a>
            <a href="/Myapp_runweb/str2musicscore">
                <li class="label lab3 current-lable">字符串生成乐谱</li>
            </a>
            <a href="/Myapp_runweb/file2musicscore">
                <li class="label lab4">音频文件生成乐谱</li>
            </a>
            <a href="/Myapp_runweb/pianoOnLine">
                <li class="label lab5">HTML5网页钢琴</li>
            </a>
        </div>
        <a href="{{ login_or_logout }}">
            {% if user_name %}
            <span style="float: right;" class="state"onclick="return func()">登出</span>
            {% else %}
            <span style="float: right;" class="state">登录</span>
            {% endif %}
        </a>
        <a href="/Myapp_runweb/pianoOnLine" style="float: right;" class="username">
            {% if user_name %}
            <span>{{user_name}}</span>
            {% else %}
            <span>游客</span>
            {% endif %}
        </a>
        <script>
            function func() {
                if (!confirm('是否确认登出')) {
                    return false;
                }
            }
        </script>
    </header>
    <div class="piano-window">
        <div class="piano-wrap piano responsive-section-a visible">
            <div class="piano-panel">
                <div class="piano-tip left-tip"><span class="playing-tip" style="display:none;"><span
                            style="cursor: pointer;"></span>&nbsp;
                        <img src="data:image/gif;base64,R0lGODlhCQAJAIABAP+ZM////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJMgABACwAAAAACQAJAAACEYwDlwa72A5sb0ZLJbv6VqQUACH5BAUyAAEALAAAAAAJAAkAAAIQjAOnkIq8GDxymtpijo6qAgA7"
                            style="cursor: pointer; "></span>
                    &nbsp;
                </div> <img src="/static/img/523109a.png" alt="" class="piano-band-img">
                <div class="piano-tip right-tip">⇧ 代表 shift 键</div>
            </div>
            <div class="piano-key-wrap" style="height: 244.611px;">
                <div id="49" data-name="C2" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">1</div>
                        <div class="notename" style="display: none;">C2</div>
                        <div class="singname" style="display: none;">do</div>
                    </div>
                </div>
                <div id="50" data-name="D2" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">2</div>
                        <div class="notename" style="display: none;">D2</div>
                        <div class="singname" style="display: none;">re</div>
                    </div>
                </div>
                <div id="51" data-name="E2" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">3</div>
                        <div class="notename" style="display: none;">E2</div>
                        <div class="singname" style="display: none;">mi</div>
                    </div>
                </div>
                <div id="52" data-name="F2" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">4</div>
                        <div class="notename" style="display: none;">F2</div>
                        <div class="singname" style="display: none;">fa</div>
                    </div>
                </div>
                <div id="53" data-name="G2" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">5</div>
                        <div class="notename" style="display: none;">G2</div>
                        <div class="singname" style="display: none;">so</div>
                    </div>
                </div>
                <div id="54" data-name="A2" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">6</div>
                        <div class="notename" style="display: none;">A2</div>
                        <div class="singname" style="display: none;">la</div>
                    </div>
                </div>
                <div id="55" data-name="B2" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">7</div>
                        <div class="notename" style="display: none;">B2</div>
                        <div class="singname" style="display: none;">si</div>
                    </div>
                </div>
                <div id="56" data-name="C3" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">8</div>
                        <div class="notename" style="display: none;">C3</div>
                        <div class="singname" style="display: none;">do</div>
                    </div>
                </div>
                <div id="57" data-name="D3" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">9</div>
                        <div class="notename" style="display: none;">D3</div>
                        <div class="singname" style="display: none;">re</div>
                    </div>
                </div>
                <div id="48" data-name="E3" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">0</div>
                        <div class="notename" style="display: none;">E3</div>
                        <div class="singname" style="display: none;">mi</div>
                    </div>
                </div>
                <div id="81" data-name="F3" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">q</div>
                        <div class="notename" style="display: none;">F3</div>
                        <div class="singname" style="display: none;">fa</div>
                    </div>
                </div>
                <div id="87" data-name="G3" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">w</div>
                        <div class="notename" style="display: none;">G3</div>
                        <div class="singname" style="display: none;">so</div>
                    </div>
                </div>
                <div id="69" data-name="A3" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">e</div>
                        <div class="notename" style="display: none;">A3</div>
                        <div class="singname" style="display: none;">la</div>
                    </div>
                </div>
                <div id="82" data-name="B3" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">r</div>
                        <div class="notename" style="display: none;">B3</div>
                        <div class="singname" style="display: none;">si</div>
                    </div>
                </div>
                <div id="84" data-name="C4" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">t</div>
                        <div class="notename" style="display: none;">C4</div>
                        <div class="singname" style="display: none;">do</div>
                    </div>
                </div>
                <div id="89" data-name="D4" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">y</div>
                        <div class="notename" style="display: none;">D4</div>
                        <div class="singname" style="display: none;">re</div>
                    </div>
                </div>
                <div id="85" data-name="E4" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">u</div>
                        <div class="notename" style="display: none;">E4</div>
                        <div class="singname" style="display: none;">mi</div>
                    </div>
                </div>
                <div id="73" data-name="F4" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">i</div>
                        <div class="notename" style="display: none;">F4</div>
                        <div class="singname" style="display: none;">fa</div>
                    </div>
                </div>
                <div id="79" data-name="G4" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">o</div>
                        <div class="notename" style="display: none;">G4</div>
                        <div class="singname" style="display: none;">so</div>
                    </div>
                </div>
                <div id="80" data-name="A4" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">p</div>
                        <div class="notename" style="display: none;">A4</div>
                        <div class="singname" style="display: none;">la</div>
                    </div>
                </div>
                <div id="65" data-name="B4" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">a</div>
                        <div class="notename" style="display: none;">B4</div>
                        <div class="singname" style="display: none;">si</div>
                    </div>
                </div>
                <div id="83" data-name="C5" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">s</div>
                        <div class="notename" style="display: none;">C5</div>
                        <div class="singname" style="display: none;">do</div>
                    </div>
                </div>
                <div id="68" data-name="D5" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">d</div>
                        <div class="notename" style="display: none;">D5</div>
                        <div class="singname" style="display: none;">re</div>
                    </div>
                </div>
                <div id="70" data-name="E5" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">f</div>
                        <div class="notename" style="display: none;">E5</div>
                        <div class="singname" style="display: none;">mi</div>
                    </div>
                </div>
                <div id="71" data-name="F5" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">g</div>
                        <div class="notename" style="display: none;">F5</div>
                        <div class="singname" style="display: none;">fa</div>
                    </div>
                </div>
                <div id="72" data-name="G5" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">h</div>
                        <div class="notename" style="display: none;">G5</div>
                        <div class="singname" style="display: none;">so</div>
                    </div>
                </div>
                <div id="74" data-name="A5" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">j</div>
                        <div class="notename" style="display: none;">A5</div>
                        <div class="singname" style="display: none;">la</div>
                    </div>
                </div>
                <div id="75" data-name="B5" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">k</div>
                        <div class="notename" style="display: none;">B5</div>
                        <div class="singname" style="display: none;">si</div>
                    </div>
                </div>
                <div id="76" data-name="C6" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">l</div>
                        <div class="notename" style="display: none;">C6</div>
                        <div class="singname" style="display: none;">do</div>
                    </div>
                </div>
                <div id="90" data-name="D6" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">z</div>
                        <div class="notename" style="display: none;">D6</div>
                        <div class="singname" style="display: none;">re</div>
                    </div>
                </div>
                <div id="88" data-name="E6" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">x</div>
                        <div class="notename" style="display: none;">E6</div>
                        <div class="singname" style="display: none;">mi</div>
                    </div>
                </div>
                <div id="67" data-name="F6" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">c</div>
                        <div class="notename" style="display: none;">F6</div>
                        <div class="singname" style="display: none;">fa</div>
                    </div>
                </div>
                <div id="86" data-name="G6" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">v</div>
                        <div class="notename" style="display: none;">G6</div>
                        <div class="singname" style="display: none;">so</div>
                    </div>
                </div>
                <div id="66" data-name="A6" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">b</div>
                        <div class="notename" style="display: none;">A6</div>
                        <div class="singname" style="display: none;">la</div>
                    </div>
                </div>
                <div id="78" data-name="B6" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">n</div>
                        <div class="notename" style="display: none;">B6</div>
                        <div class="singname" style="display: none;">si</div>
                    </div>
                </div>
                <div id="77" data-name="C7" class="piano-key wkey key-hover">
                    <div class="keytip">
                        <div class="keyname" style="display: block;">m</div>
                        <div class="notename" style="display: none;">C7</div>
                        <div class="singname" style="display: none;">do</div>
                    </div>
                </div>
                <div class="bkey-wrap bkey-wrap1">
                    <div id="b49" data-name="C#2" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>1</div>
                        </div>
                    </div>
                    <div id="b50" data-name="D#2" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>2</div>
                        </div>
                    </div>
                    <div id="b52" data-name="F#2" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>4</div>
                        </div>
                    </div>
                    <div id="b53" data-name="G#2" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>5</div>
                        </div>
                    </div>
                    <div id="b54" data-name="A#2" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>6</div>
                        </div>
                    </div>
                </div>
                <div class="bkey-wrap bkey-wrap2">
                    <div id="b56" data-name="C#3" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>8</div>
                        </div>
                    </div>
                    <div id="b57" data-name="D#3" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>9</div>
                        </div>
                    </div>
                    <div id="b81" data-name="F#3" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>Q</div>
                        </div>
                    </div>
                    <div id="b87" data-name="G#3" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>W</div>
                        </div>
                    </div>
                    <div id="b69" data-name="A#3" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>E</div>
                        </div>
                    </div>
                </div>
                <div class="bkey-wrap bkey-wrap3">
                    <div id="b84" data-name="C#4" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>T</div>
                        </div>
                    </div>
                    <div id="b89" data-name="D#4" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>Y</div>
                        </div>
                    </div>
                    <div id="b73" data-name="F#4" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>I</div>
                        </div>
                    </div>
                    <div id="b79" data-name="G#4" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>O</div>
                        </div>
                    </div>
                    <div id="b80" data-name="A#4" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>P</div>
                        </div>
                    </div>
                </div>
                <div class="bkey-wrap bkey-wrap4">
                    <div id="b83" data-name="C#5" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>S</div>
                        </div>
                    </div>
                    <div id="b68" data-name="D#5" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>D</div>
                        </div>
                    </div>
                    <div id="b71" data-name="F#5" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>G</div>
                        </div>
                    </div>
                    <div id="b72" data-name="G#5" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>H</div>
                        </div>
                    </div>
                    <div id="b74" data-name="A#5" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>J</div>
                        </div>
                    </div>
                </div>
                <div class="bkey-wrap bkey-wrap5">
                    <div id="b76" data-name="C#6" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>L</div>
                        </div>
                    </div>
                    <div id="b90" data-name="D#6" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>Z</div>
                        </div>
                    </div>
                    <div id="b67" data-name="F#6" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>C</div>
                        </div>
                    </div>
                    <div id="b86" data-name="G#6" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>V</div>
                        </div>
                    </div>
                    <div id="b66" data-name="A#6" class="piano-key bkey key-hover" style="height: 158.997px;">
                        <div class="keytip">
                            <div class="keyname" style="display: block;">⇧<br>+<br>B</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ruler-window ruler-windowhidden ">
        <div style="overflow: hidden;">
            <h3 style="text-align: center;">创作曲谱语法规则及使用步骤</h3>
        </div>
        <div style="overflow: hidden;margin-top: 20px;">
            <h4>语法规则：</h4>
        </div>
        <p style="color: rgb(17, 23, 85); font-size: 13px;">下面使用D3作为音符例子</p>
        <p>十六分音符：&lt;&lt;D3&gt;&gt;</p>
        <p>八分音符：&lt;D3&gt;</p>
        <p>四分音符：D3</p>
        <p>二分音符：D3-</p>
        <p>全音符：D3--</p>
        <p style="border-bottom: 1px gray solid;">附点音符：D3.</p>
        <div style="overflow: hidden; margin-top: 20px;">
            <h4>使用步骤：</h4>
        </div>
        <p>1）使用鼠标点击钢琴键或按照钢琴键上的字母按动键盘；</p>
        <p>2）使用鼠标点击右边浮动窗的按钮或键盘上的快捷键更改音符；</p>
        <p>3）编辑完成后填写曲谱名称；</p>
        <p>4）点击上传；</p>
        <p>附：</p>
        <p style="color: rgb(17, 23, 85); font-size: 13px;">增加时长：小键盘→</p>
        <p style="color: rgb(17, 23, 85); font-size: 13px;">减少时长：小键盘←</p>
        <p style="color: rgb(17, 23, 85); font-size: 13px;">附点音符：键盘./&gt;</p>
        <p style="color: rgb(17, 23, 85); font-size: 13px;">删除音符：键盘Backspace</p>






















        <span class="button-controler" id="btn">&gt;</span>
        <script type="text/javascript">
            var hidden = true;
            window.onload = function () {
                con.className = "ruler-window "
                hidden = false;
                console.log(1123)
            }

            document.getElementById("btn").addEventListener("click", function (e) {
                console.log(e)
                var con = e.path[1];
                if (hidden) {
                    con.className = "ruler-window "
                    hidden = false;
                }
                else {
                    con.className = "ruler-window ruler-windowhidden "
                    hidden = true;
                }



            })
        </script>
    </div>
    <div class="method-bts ">
        <span class="note-db bt1" onclick="alterNote('add')">+ 增</span>
        <span class="note-hf bt2" onclick="alterNote('minus')">- 减</span>
        <span class="note-dot bt3" onclick="alterNote('dot')">. 附</span>
        <span class="note-del bt4" onclick="delNote()">&lt; 删</span>
        <span class="all-del bt5" onclick="cleanNote()">~ 清</span>
    </div>

    <div class="editor-window">
        <div class="container clearfix">
            <h2>音符编辑区</h2>
            <ul class="note-container" id="notes"></ul>

        </div>
        <form action="/Myapp_covert2musicscore/changestr2pic/" method="POST" class="form-str">
            <h2>曲谱信息</h2>
            <div class="name">
                <h3 style="margin-left: 5px; font-size: 17px;">曲谱名称（必填）</h3>
                <input type="text" class="scorename" name="str-scorename" id="name" required>
            </div>

            <h3 style="margin-top: 37px; margin-left: 5px; font-size: 17px;">曲谱内容（必填）</h3>
            <textarea class="str-area" name="str-container" id="str-container" class="strarea" readonly required></textarea>

            <input type="submit" class="submmit-button" value="提 交" style="visibility: hidden;" id="submit">
            <span class="submmit-button" onclick="submit()" >提 交</span>

        </form>
        <script>
            function submit() {
                if (document.getElementsByClassName('note').length != 0) {
                    document.getElementById('submit').click();
                } else {
                    alert('请输入曲谱内容')
                }
            }
        </script>

    </div>


</body>
<script type="text/javascript" src="/static/JavaScript/piano.js"></script>


</html>
