*,
.flex {
    flex: 1 1 auto;
    max-width: 100%
}

@media screen and (min-width:1920px) {
    #app .responsive-section-a {
        width: 65%
    }

    #app .piano-wrap .piano-band {
        height: 45px;
        line-height: 45px;
        background-size: 135px 45px
    }

    #app .wkey {
        border-radius: 0 0 7px 7px
    }
}

body {
    min-width: 1280px
}

.piano .piano-key-wrap .key-hover:hover {
    cursor: pointer;
    background: #ffcad2 !important
}


@-webkit-keyframes v-shake {
    59% {
        margin-left: 0
    }

    60%,
    80% {
        margin-left: 2px
    }

    70%,
    90% {
        margin-left: -2px
    }
}

@keyframes v-shake {
    59% {
        margin-left: 0
    }

    60%,
    80% {
        margin-left: 2px
    }

    70%,
    90% {
        margin-left: -2px
    }
}


*,
:after,
:before {
    box-sizing: inherit
}

:after,
:before {
    text-decoration: inherit;
    vertical-align: inherit
}

* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0
}

audio:not([controls]) {
    display: none;
    height: 0
}


html {
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 140, 255, 0)
}

html.overflow-y-hidden {
    overflow-y: hidden !important
}



.piano-scroll-wrap {
    width: 100%;
    overflow: hidden
}

.piano-wrap.visible {
    opacity: 1
}

.piano-wrap.piano {
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px 2px #aaa;
    border-radius: 5px;
    position: relative;
    overflow: visible
}

.piano-wrap.piano .piano-panel {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #000;
    box-shadow: inset 0 -1px 2px hsla(0, 0%, 100%, .4), 0 2px 3px rgba(0, 0, 0, .4);
    border-color: #555 #222 #111 #777;
    border-style: solid;
    border-width: 3px 2px 2px;
    position: relative
}

.piano-wrap.piano .piano-panel .piano-band-img {
    user-select: none;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.piano-wrap.piano .piano-panel .piano-tip {
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
    font-size: 14px;
    letter-spacing: 1px
}

.piano-wrap.piano .piano-panel .piano-tip.left-tip {
    user-select: none;
    left: 20px
}

.piano-wrap.piano .piano-panel .piano-tip.right-tip {
    user-select: none;
    right: 20px
}

.piano-wrap.piano .piano-key-wrap {
    width: 100%;
    background: #000;
    overflow: hidden;
    position: relative
}

.piano-wrap.piano .piano-key-wrap .piano-key {
    display: inline-block;
    position: relative
}

.piano-wrap.piano .piano-key-wrap .wkey {
    float: left;
    width: 2.606%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    background: linear-gradient(-30deg, #f5f5f5, #fff);
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px 0 0 #fff, 0 4px 3px rgba(0, 0, 0, .7);
    border-radius: 0 0 5px 5px
}

.piano-wrap.piano .piano-key-wrap .wkey:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    top: -1%;
    height: 99%;
    background: #efefef
}

.piano-wrap.piano .piano-key-wrap .wkey:active:before {
    content: "";
    border-color: transparent transparent transparent rgba(0, 0, 0, .1);
    border-style: solid;
    border-width: 250px 5px 0;
    position: absolute;
    left: 0;
    bottom: 0
}

.piano-wrap.piano .piano-key-wrap .wkey:active:after {
    content: "";
    border-color: transparent rgba(0, 0, 0, .1) transparent transparent;
    border-style: solid;
    border-width: 250px 5px 0;
    position: absolute;
    right: 0;
    bottom: 0
}

.piano-wrap.piano .piano-key-wrap .wkey .keytip {
    width: 100%;
    color: #373737;
    text-align: center;
    font-size: 13px;
    position: absolute;
    bottom: 5%
}

.piano-wrap.piano .piano-key-wrap .wkey .keytip .keyname {
    user-select: none;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700
}

.piano-wrap.piano .piano-key-wrap .wkey .keytip .notename,
.piano-wrap.piano .piano-key-wrap .wkey .keytip .singname {
    user-select: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 700
}

.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+7) .notename,
.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+7) .singname {
    background: #ccccd6
}

.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+14):nth-child(n+8) .notename,
.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+14):nth-child(n+8) .singname {
    background: #93b5cf
}

.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+21):nth-child(n+15) .notename,
.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+21):nth-child(n+15) .singname {
    background: #a4cab6
}

.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+28):nth-child(n+22) .notename,
.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+28):nth-child(n+22) .singname {
    background: #fbb957
}

.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+35):nth-child(n+29) .notename,
.piano-wrap.piano .piano-key-wrap .wkey:nth-child(-n+35):nth-child(n+29) .singname {
    background: #ee8055
}

.piano-wrap.piano .piano-key-wrap .wkey:nth-child(36) .notename,
.piano-wrap.piano .piano-key-wrap .wkey:nth-child(36) .singname {
    background: #f07c82
}

.piano-wrap.piano .piano-key-wrap .wkey-active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    top: -1%;
    height: 99%;
    background: #efefef
}

.piano-wrap.piano .piano-key-wrap .wkey-active:before {
    content: "";
    border-color: transparent transparent transparent rgba(0, 0, 0, .1);
    border-style: solid;
    border-width: 250px 5px 0;
    position: absolute;
    left: 0;
    bottom: 0
}

.piano-wrap.piano .piano-key-wrap .wkey-active:after {
    content: "";
    border-color: transparent rgba(0, 0, 0, .1) transparent transparent;
    border-style: solid;
    border-width: 250px 5px 0;
    position: absolute;
    right: 0;
    bottom: 0
}

.piano-wrap.piano .piano-key-wrap .bkey {
    width: 10%;
    background: linear-gradient(-20deg, #333, #000, #333);
    border-color: #666 #222 #111 #555;
    border-style: solid;
    border-width: 1px 2px 7px;
    border-radius: 0 0 2px 2px;
    box-shadow: inset 0 -1px 2px hsla(0, 0%, 100%, .4), 0 2px 3px rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    overflow: hidden
}

.piano-wrap.piano .piano-key-wrap .bkey:active {
    height: 101%;
    border-bottom-width: 2px;
    box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, .4), 0 1px 0 rgba(0, 0, 0, .8), 0 2px 2px rgba(0, 0, 0, .4), 0 -1px 0 #000
}

.piano-wrap.piano .piano-key-wrap .bkey .keytip {
    width: 100%;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 14px;
    overflow: hidden
}

.piano-wrap.piano .piano-key-wrap .bkey .keytip .keyname {
    user-select: none;
    width: 100%;
    text-align: center
}

.piano-wrap.piano .piano-key-wrap .bkey-active {
    border-bottom-width: 2px;
    box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, .4), 0 1px 0 rgba(0, 0, 0, .8), 0 2px 2px rgba(0, 0, 0, .4), 0 -1px 0 #000
}

.piano-wrap.piano .piano-key-wrap .wkey.auto-key-active {
    background: #94b4fa !important
}

.piano-wrap.piano .piano-key-wrap .bkey.auto-key-active {
    border-color: #75c3ed;
    background: #75c3ed !important
}

.piano-wrap.piano .piano-key-wrap .bkey:first-child {
    left: 9%
}

.piano-wrap.piano .piano-key-wrap .bkey:nth-child(2) {
    left: 23%
}

.piano-wrap.piano .piano-key-wrap .bkey:nth-child(3) {
    left: 50%
}

.piano-wrap.piano .piano-key-wrap .bkey:nth-child(4) {
    left: 65%
}

.piano-wrap.piano .piano-key-wrap .bkey:nth-child(5) {
    left: 79%
}

.piano-wrap.piano .piano-key-wrap .bkey-wrap {
    width: 20%;
    height: 0;
    position: absolute;
    top: 0
}

.piano-wrap.piano .piano-key-wrap .bkey-wrap1 {
    left: 0
}

.piano-wrap.piano .piano-key-wrap .bkey-wrap2 {
    left: 19.5%
}

.piano-wrap.piano .piano-key-wrap .bkey-wrap3 {
    left: 39%
}

.piano-wrap.piano .piano-key-wrap .bkey-wrap4 {
    left: 58.3%
}

.piano-wrap.piano .piano-key-wrap .bkey-wrap5 {
    left: 77.7%
}

.piano-options {
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 0;
    position: relative
}

.piano-options .share-wrap {
    background: #fff
}

.piano-options .v-input {
    display: inline-flex;
    margin: 0 0 0 15px;
    padding: 0
}

.piano-options .v-input .v-label {
    text-shadow: 1px 1px 2px #ddd;
    font-weight: 700
}

.piano-options .selected-item {
    display: inline-block;
    width: 180px;
    line-height: 44px;
    padding: 0 15px;
    font-weight: 700;
    color: rgba(31, 63, 150, 0.959);
    background: #fff;
    border-radius: 5px;
    cursor: pointer
}

.piano-options .selected-item .icon-voice {
    margin: 6px 5px 0 0
}