<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>结果预览</title>
    <link rel="stylesheet" href="/static/CSS/base-style.css">
    <link rel="stylesheet" href="/static/CSS/preview.css">

</head>

<body>
    <header></header>
    <div class="show-area">
<!--        这里是谱子-->
        <p class="container"><img src="{{ musicpath }}" class="imgfile"></p>

    </div>
    <div class="controler">
        <div class="title">试听预览：</div>
        <audio src="{{ wavpath }}" controls class=""> </audio>
        <a href="{{ wavpath }}">
            <div class="download">下载音频文件</div>
        </a>
        <span class="button-controler">&lt;</span>
    </div>


</body>

</html>
