.show-area {
    position: relative;
    width: 900px;
    margin: 15px auto;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.container {
    position: relative;
    width: 880px;
    background-color: rgb(228, 221, 209);
    border-radius: 10px;

}

.imgfile{
    width: 100%;
}

h2{
    margin-bottom: 1px;
}

.controler {
    position: fixed;
    width: 250px;
    height: 167px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    right: 0;
    top: 25%;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    transition: all 0.5s;
}
.controlerhidden{
    border-radius: 10px 0 0 10px;
    width: 20px;
}

audio {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}

.download {
    border: 1px skyblue solid;
    border-radius: 10px;
    font-size: 17px;
    width: 150px;
    height: 25px;
    line-height: 25px;
    margin: 0 10px 0 60px;
    background-color: rgba(255,255,255,0.7);
}

.title {

    border-radius: 10px;
    font-size: 20px;
    width: 150px;
    height: 27px;
    line-height: 27px;
    margin: 0 10px 0 60px;
    font-weight: 700;
}

.button-controler {
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    left: -10px;
    text-align: center;
    line-height: 20px;
    border-radius: 10px 5px 5px 10px;
    cursor: pointer;
    user-select: none;
}

.button-controler:hover {
    content: "&gt;";
}

